* {
    margin: 0;
}

h1 {
    padding: 1rem;
    text-align: center;
}

main {
    max-width: 500px;
    max-height: 80vh;
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
}

main > div {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

main > div > button {
    padding: 0.5rem 1rem;
    border: 0 none;
    outline: none;
    cursor: pointer;
    background-color: rgb(71, 71, 71);
    color: white;
    transition: 0.3s;
    &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }
}

main > figure {
    width: 100%;
    object-fit: fill;
    display: flex;
    justify-content: center;
}

#image-random {
    max-width: auto;
    max-height: 400px;
}